@import url('https://fonts.googleapis.com/css2?family=Bad+Script&family=Open+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    color: #2D3839;
}

/*headings and logo*/

h1, h2, h3 {
    font-family: 'Bad Script', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #415159;
    padding-left: 20px;
}

h2 {
    color: #2D3839;
    font-weight: 900;
    letter-spacing: 4px;
}

#logo {
    float: left;
    font-size: 400%;
}

#sub-heading {
    float: left;
    text-decoration: none;
    margin-left: 20px;
}

/*navigation links*/

#menu {
    font-size: 110%;
    letter-spacing: 2px;
}

#menu, #logo, #sub-heading {
    line-height: 150px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 40px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #2D3839;
}

.active {
    border-bottom: 1px solid #2D3839;
} 

/* background image */

#background-image {
    height: 762px;
    width: 100%;
    background: url(../images/pontus-wellgraf-7SwIRRHckds-unsplash.jpg) no-repeat center center;
    z-index: 8;
}

#ctpg-outer {
    height: 762px;
    width: 100%;
    overflow: hidden;

    position: relative;
}

#background-image-ctpg {
    height: 762px;
    width: 100%;
    background: url(../images/blowdry-largesize.jpg) no-repeat center center;
    background-size: cover;

    /* animates zoom effect on loading contact page */
    animation-name: contact-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

/* creates the level of zoom for contact page image */
@keyframes contact-zoom {
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.1);
    }
}

/* cover image and cover text */

#cover-container {
    position: absolute;
    display: inline-block;
    top: 194px;
    left: 0;
    height: 550px;
    width: 733px;
    margin: 0 auto;
    padding-top: 20px;
    padding-right: 20px;
    border-radius: 50px;
    z-index: 10;
}

#cover-image {
    background: url(../images/pikwizard-wavy-hair.jpg) no-repeat center center;
    height: 550px;
    width: 550px;
    border-radius: 50px;
    overflow: hidden;
}

#ctpg-cover-text {
    font-size: 150%;
    font-family: 'Bad Script', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;

    width: 600px;
    height: 400px;
    border-radius: 15px;

    padding-top: 40px;
    padding-left: 10px;

    background-color: #2D3839C4;

    bottom: 20%;
    right: 10%;

    position: absolute;
}

#ctpg-cover-text, #ctpg-cover-text > h2, a {
    color: #E4FEFF;
    font-weight: 900;
    text-align: center;
}

#prompt {
    font-family: 'Open Sans', sans-serif;
    color: #E4FEFF;
    font-size: 120%;
    margin-bottom: 10px;
    text-align: center;

}

#ctpg-cover-text a {
    font-size: 150%;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    color: inherit;
    border: 2px solid #E4FEFF;
    border-radius: 15px;

    padding: 5px 15px;
}

#ctpg-cover-text a:hover {
    border: 4px solid #FF8B43;
}

/* Ethos section */

#ethos-container {
    background: #FF8B436B;
    position: absolute;
    display: inline-block;
    top: 30%;
    left: 46%;
    height: 400px;
    width: 600px;
    padding: 30px;
    border-radius: 15px;
    z-index: 12;
}

#ethos-text {
    height: 100%;
    letter-spacing: 2px;
    color: #2D3839;
    font-weight: 600;
    font-style: italic;
}

/* Services and prices section */

#prices-container {
    background: url(../images/scissors.png) no-repeat center right #BEFCFF;
    height: 200px;
    width: 100%;
    float: right;
    padding: 1px;
}

#prices {
    height: 200px;
    width: 100%;
    padding: 6px 12px;
}

#prices h2 {
    color: #454555;
    font-weight: 900;
}

#gents {
    display: inline-block;
    height: 120px;
    width: 300px;
    border: 4px solid #b6c9ca;
    border-radius: 25px 50px;
    margin: 2px;
    padding-left: 10px;
}

#ladies {
    display: inline-block;
    height: 120px;
    width: 300px;
    border: 4px solid #b6c9ca;
    border-radius: 50px 50px;
    margin: 2px;
}

#kids {
    display: inline-block;
    height: 120px;
    width: 300px;
    border: 4px solid #b6c9ca;
    border-radius: 75px 25px;
    margin: 2px;
}

#senior {
    display: inline-block;
    height: 120px;
    width: 300px;
    border: 4px solid #b6c9ca;
    border-radius: 25px 50px;
    margin: 2px;
}

#prices p {
    text-align: center;
    text-transform: uppercase;
    text-shadow: #415159;
    font-size: large;
    font-weight: bold;
}

/* footer */

footer {
    display:block;
    height: 50px;
    width: auto;
}

#footer-content {
    height: 50px;
    width: auto;
}

.social-networks {
    display: block;
    text-align: center;
    background: #2D3839;
}

.social-networks > li {
    display: inline;
}

.social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 1%;
    color: #BEFCFF;
}

/* booking page cover image and form */

#booking-container {
    position: absolute;
    display: inline-block;
    top: 20%;
    left: 0;
    height: 600px;
    width: auto;
    margin: 0 auto;
    padding-top: 20px;
    padding-right: 20px;
    border-radius: 15px;
    z-index: 10;
}

#booking-pic {
    background: url(../images/hair-salon-medium-size.jpg) no-repeat center center;
    height: 600px;
    width: 455px;
    border-radius: 15px;
    overflow: hidden;
}
 
.form-section {
    background: #FF8B436B;
    position: absolute;
    display: inline-block;
    top: 25%;
    left: 40%;
    height: 480px;
    max-width: 550px;
    margin: auto;
    padding: 30px;
    border-radius: 15px;
    z-index: 12;
}

    .form-section > h2 {
        font-weight: bold;
        margin-bottom: 20px;
    }
    
    .text-input {
        background: #BEFCFF;
        color: #2D3839;
        width: 100%;
        height: 25px;
        padding: 2px 10px;
        margin: 5px 0 20px 0;
        border: 1px solid #415159;
        border-radius: 2px;
    }
    
    .text-input:hover {
        border-color: #FF8B43;
    } 

    .text-box {
        background: #BEFCFF;
        color: black;
        width: 100%;
        height: 70px;
        font-family: inherit;
        font-size: medium;
        font-weight: bold;
        padding: 10px;
        margin: 5px 0 5px 0;
        border: 1px solid #5B6768;
        border-radius: 2px;
    }
    
    .submit-button {
        margin-top: 5px;
        border-radius: 15px;
        padding: 5px 32px;
        text-align: center;
        font-size: larger;
        font-weight: bold;
        background: #2D3839;
        color: #BEFCFF;
        display: block;
    }
    
    .submit-button:hover {
        background: #2D3839;
        color: #BEFCFF;
        border: 2px solid #FF8B43;
    }

/* Contact page */

#header {
    background: url(../images/header.jpg) no-repeat center center;
    background-size: cover;
    height: 150px;
    width: 100%;
}

#contact-outer {
    width: 100%;
    height: 500px;
    overflow: hidden;
}

#contact-section {
width: 100%;
height: 500px;
background: #95B0B2;
}

#contact-section, #contact-section h2, h3 {
    text-align: center;
    padding: 30px 10px 5px;
    letter-spacing: 4px;
    color: #2D3839;
    font-weight: bolder;
}

#contact-section p {
    text-align: center;
    padding: 1px 20px;
    letter-spacing: 2px;
    font-weight: bold;
}

#contact-section ul {
    margin: 5px 10px 40px 10px;
}

.review p {
    font-style: italic;
}