@import url('https://fonts.googleapis.com/css2?family=Bad+Script&family=Open+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    color: #2D3839;
}

/*headings and logo*/

h1, h2 {
    font-family: 'Bad Script', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #415159;
    padding-left: 20px;
}

h2 {
    color: #2D3839;
    font-weight: 900;
    letter-spacing: 4px;
}

#logo {
    float: left;
    font-size: 400%;
}

#sub-heading {
    float: left;
    text-decoration: none;
    margin-left: 20px;
}

/*navigation links*/

#menu {
    font-size: 110%;
    letter-spacing: 2px;
}

#menu, #logo, #sub-heading {
    line-height: 150px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 40px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #2D3839;
}

.active {
    border-bottom: 1px solid #2D3839;
} 

/* background image */

#background-image {
    height: 800px;
    width: 100%;
    background: url(../images/pontus-wellgraf-7SwIRRHckds-unsplash.jpg) no-repeat center center;
}

/* cover image */

#cover-container {
    position: absolute;
    display: inline-block;
    top: 20%;
    left: 0;
    height: 550px;
    width: 733px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 50px;
    z-index: 10;
}

#cover-image {
    background: url(../images/pikwizard-wavy-hair.jpg) no-repeat center center;
    height: 550px;
    width: 550px;
    border-radius: 50px;
    overflow: hidden;
}

/* Ethos section */

#ethos-container {
    background: #FF8B436B;
    position: absolute;
    display: inline-block;
    top: 30%;
    left: 46%;
    height: 400px;
    width: 600px;
    padding: 30px;
    border-radius: 15px;
    z-index: 12

}

#ethos-text {
    height: 100%;
    letter-spacing: 2px;
    color: #2D3839;
    font-weight: 600;
    font-style: italic;

}